/* Home Page */
@keyframes slide {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.landing-control {
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  @include xl {
    max-width: 90vw;
  }

  @include lg {
    flex-direction: column;
    justify-content: center;
  }

  .landing-header {
    .landing-logo {
      width: 150px;
      height: 90px;
      margin-top: 20px;
      animation: 1s ease-out 0s 1 slide;
    }
  }

  .landing-wrapper {
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include sm {
      flex-direction: column;
    }

    .landing-intro {
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      .intro-content {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: calc(100%-90px);

        .content-line {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          animation: 0.5s ease-out 0s 1 slide;

          .icon-wrapper {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border-style: solid;
            border-width: 3px;
            border-color: $red;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
              font-size: 20px;
              color: $red;
            }
          }

          p {
            @extend .p;
            width: 90%;
            margin-left: 10px;
            margin-bottom: 10px;

            @include sm {
              font-size: 20px;
            }
          }
        }

        @include sm {
          width: 90%;
          display: flex;
          flex-direction: column;
          margin-bottom: 0;
        }

        button {
          @extend .main-btn;
          padding-left: 25px;
          padding-right: 25px;
          margin-top: 20px;
          animation: 0.5s ease-out 0s 1 slide;

          @include sm {
            align-self: center;
          }
        }
      }
    }

    .landing-ad {
      width: 100%;
      text-align: center;

      .ad-image {
        margin-left: auto;
        margin-right: auto;
        animation: 0.5s ease-out 0s 1 slide;

        @include sm {
          margin-top: 20px;
        }

        img {
          width: 440px;
          height: 340px;
          border-radius: 8px;
          box-shadow: 0px 4px 6px $black;

          @include sm {
            width: 90%;
            height: 40%;
          }
        }
      }
    }
  }
} // home-control

.form-control {
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  .form-content {
    width: 90%;
    height: calc(100% - 160px);
    display: flex;
    align-items: center;

    .form {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      p {
        @extend .p;
        font-size: 30;
      }

      .message {
        font-size: 18px;
      }

      .error {
        border-style: solid;
        border-width: 2px;
        border-color: $red;
      }

      @include sm {
        width: 100%;
      }

      input {
        @extend .main-input;
        width: 45%;
        margin-top: 20px;
        border-radius: 4px;

        @include sm {
          width: 90%;
        }
      }

      button {
        @extend .main-btn;
        margin-top: 20px;

        width: 35%;
        font-size: 24px;

        @include sm {
          width: 90%;
          font-size: 20px;
        }
      }
    }

    .form-success {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      animation: fade 1s linear;

      @include sm {
        width: 90%;
      }

      img {
        width: 20%;
      }

      p {
        font-size: 22px;
        color: $green;
        margin-top: 40px;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: calc(100% - 40px);
    padding: 20px;
    box-shadow: 0px 2px 4px $black;

    @include sm {
      width: 100%;
      flex-direction: column;
      align-items: center;
      padding: 0px;
    }

    .footer-section {
      display: flex;
      flex-direction: column;

      @include sm {
        flex-direction: row;
      }

      p {
        font-size: 20px;
        margin: 10px 10px;
        cursor: pointer;
        font-family: $font-footer;

        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;

        &:hover {
          transition: 0.3s all;
          color: $red;
        }

        @include sm {
          font-size: 16px;
        }
      }

      img {
        width: 120px;
        height: 70px;
      }
    }
  }
} // home-control
