html,
body {
  scroll-behavior: smooth;
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  background: $background;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.base-control {
  position: relative;
  overflow: auto;
}
