/* Main Button */

.main-btn {
  min-width: 120px;
  display: block;
  padding: 12px 15px;
  padding-top: 16px;
  background-color: $red;
  font-size: 18px;
  font-family: $font-stack ;

  font-weight: 600;
  transition: 0.5s all ;
  color: $background;
  border: none;

  border-radius: 25px;

  &:hover {
    cursor: pointer;
    background: $red-hover;
    border: none;
    transition: 0.5s all ;
    transform: translateY(-2px);

    outline: none;
  }
  &:focus{
    outline:none;
  }
}
