/* Main Button */

.main-btn {
  min-width: 120px;
  display: block;
  padding: 12px 15px;
  background-color: $red;
  font-size: 18px;
  font-weight: 600;
  color: $background;
  border: none;

  border-radius: 25px;

  &:hover {
    cursor: pointer;
    background: $red-hover;
    border: none;
    outline: none;
  }
  &:focus{
    outline:none;
  }
}
