/* Main Button */

.main-btn {
  min-width: 120px;
  display: block;
  padding: 12px 15px;
  padding-top: 10px;
  background-color: $white;
  border-color: $black;
  border: 1px solid;
  font-size: 18px;
  font-family: $font-footer ;

  font-weight: 600;
  transition: 0.5s all ;
  color: $black;


  border-radius: 25px;

  &:hover {
    cursor: pointer;
    color: $red;
    border: 1px solid $red;
    transition: 0.5s all ;


    outline: none;
  }
  &:focus{
    outline:none;
  }
}
